<section class="section is-medium">
<div class="container is-fluid">
<div class="box">
    <p class="title">
        Registracija
      </p>

<form [formGroup]="signUpForm">
<!--Ime in Priimek-->
    <div class="columns">
        <div class="column">
            <div class="field has-addons">
                <p class="control is-expanded has-icons-left">
                  <input formControlName="Firstname" class="input is-medium" type="text" placeholder="Ime">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
                <div *ngIf="signUpForm.controls['Firstname'].dirty && signUpForm.hasError('required','Firstname')" class="column is-half">
                  <small *ngIf="signUpForm.controls['Firstname'].dirty && signUpForm.hasError('required','Firstname')" class="notification is-danger">*Zahtevano!</small>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="field has-addons">
                <p class="control is-expanded has-icons-left ">
                  <input formControlName="Lastname" class="input is-medium" type="text" placeholder="Priimek">
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                </p>
                <div *ngIf="signUpForm.controls['Lastname'].dirty && signUpForm.hasError('required','Lastname')" class="column is half">
                  <small *ngIf="signUpForm.controls['Lastname'].dirty && signUpForm.hasError('required','Lastname')" class="notification is-danger">*Zahtevano!</small>
                </div>
              </div>
        </div>
    </div>
<!--Mail-->
    <div class="field has-addons">
        <p class="control is-expanded has-icons-left has-icons-right">
          <input formControlName="email" class="input is-medium" type="mail" placeholder="ElektronskaPošta@mail.si">
          <span class="icon is-small is-left">
            <i class="fas fa-inbox"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      <div *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="column is-one-fifth">
        <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="notification is-danger">*Zahtevano!</small>
      </div>
      </div>
<!--Geslo-->
      <div class="field has-addons">
        <p class="control is-expanded has-icons-left">
          <input formControlName="password" class="input is-medium" [type]="type" placeholder="Geslo">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
        <p class="control">
            <a (click)="hideShowPassword()" class="button is-medium fas {{eyeIcon}}"></a>
        </p>
        <div *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="column is-one-fifth">
        <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="notification is-danger">*Zahtevano!</small>

        <p ></p>
      </div>
      </div>
<!--Gumb Registracija in tekst za prijavo-->
      <div class="field">
    <div class = "columns">
        <div class = "column is-one-fifth">
        <p class="control" routerLink="/signup">
          <button [disabled]="signUpForm.invalid" (click)="onSignup()" class="button is-warning is-medium is-fullwidth">
            Registracija
          </button>
        </p>
    </div>
    <div class = "column my-auto">
        <p class="control" >
            <b>Že imaš račun?</b>
            <a id="forget" routerLink="/login"> Prijava </a>
          </p>
      </div>
    </div>
</div>
</form>
</div>
</div>
</section>