<!--Hero-->
<section class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        <span class="icons">
          <i class="fas fa-brands fa-github"></i>
        </span>
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject">
        MyFirstLogiInProject
      </a>
      </p>
      <p class="subtitle">
        Registracija
      </p>
    </div>
  </section>

  <!--BreadCrumb-->
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>
        <a routerLink="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        Home
      </a>
    </li>
      <li>
        <a routerLink="/login">
          <span class="icon is-small">
            <i class="fas fa-right-to-bracket" aria-hidden="true"></i>
          </span>
          Prijava
        </a>
      </li>
      <li>
        <a routerLink="/signup">
          <span class="icon is-small">
            <i class="fas fa-id-card" aria-hidden="true"></i>
          </span>
          Registracija
        </a>
      </li>
    </ul>
  </nav>

<section class="section is-medium">
<div class="container is-fluid">
<div class="box">
    <p class="title">
        Registracija
      </p>
      <form [formGroup]="signUpForm">
<!--Ime in Priimek-->
    <div class="columns">
        <div class="column">
            <div class="field has-addons">
                <p class="control is-expanded has-icons-left">
                  <input formControlName="name" class="input is-medium" type="text" placeholder="Ime">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
                <div *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required','name')" class="column is-half">
                  <small *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required','name')" class="notification is-danger">*Zahtevano!</small>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="field has-addons">
                <p class="control is-expanded has-icons-left ">
                  <input formControlName="Surname" class="input is-medium" type="text" placeholder="Priimek">
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                </p>
                <div *ngIf="signUpForm.controls['Surname'].dirty && signUpForm.hasError('required','Surname')" class="column is half">
                  <small *ngIf="signUpForm.controls['Surname'].dirty && signUpForm.hasError('required','Surname')" class="notification is-danger">*Zahtevano!</small>
                </div>
              </div>
        </div>
    </div>
<!--Mail-->
    <div class="field has-addons">
        <p class="control is-expanded has-icons-left has-icons-right">
          <input formControlName="mail" class="input is-medium" type="mail" placeholder="ElektronskaPošta@mail.si">
          <span class="icon is-small is-left">
            <i class="fas fa-inbox"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      <div *ngIf="signUpForm.controls['mail'].dirty && signUpForm.hasError('required','mail')" class="column is-one-fifth">
        <small *ngIf="signUpForm.controls['mail'].dirty && signUpForm.hasError('required','mail')" class="notification is-danger">*Zahtevano!</small>
      </div>
      </div>
<!--Geslo-->
      <div class="field has-addons">
        <p class="control is-expanded has-icons-left">
          <input formControlName="password" class="input is-medium" [type]="type" placeholder="Geslo">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
        <p class="control">
            <a (click)="hideShowPassword()" class="button is-medium fas {{eyeIcon}}"></a>
        </p>
        <div *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="column is-one-fifth">
        <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="notification is-danger">*Zahtevano!</small>
      </div>
      </div>
<!--Gumb Registracija in tekst za prijavo-->
      <div class="field">
    <div class = "columns">
        <div class = "column is-one-fifth">
        <p class="control" routerLink="/signup">
          <button [disabled]="signUpForm.invalid" class="button is-warning is-medium is-fullwidth">
            Registracija
          </button>
        </p>
    </div>
    <div class = "column my-auto">
        <p class="control" >
            <b>Že imaš račun?</b>
            <a id="forget" routerLink="/login"> Prijava </a>
          </p>
      </div>
    </div>
</div>
</form>
</div>
</div>
</section>