.ng-invalid:not(form) 
{
    border-left: 5px solid hsl(348, 100%, 61%);
}

.ng-valid:not(form) 
{
    border-left: 5px solid hsl(141, 71%, 48%)	; /* sucess */
}

.notification
{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.container
{
    width: 40vw;
}

.button
{
    width: 120px;
}

@media (max-width: 1200px) {
    .container
    {
     padding-top: 2.5vh;
     width: 90vw;
    }
    .showpassword
    {
     width: 25px;
    }
    .section
    {
     height: 100vh;
    }
 }