<body>
    <nav class="sidebar">
        <div class="menu_container">
                <ul class="menu_item">
                    <div class="item-title">
                        <span class="line"></span>
                        <div class="link flex">
                          <div class="icon sb-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </div>
                          <span class="sb-text"><b>IŠČI</b></span>
                        </div>
                    </div>
                    <li class="item">
                        <app-search></app-search>
                    </li>
                    <div class="item-title">
                        <span class="line"></span>
                        <div class="link flex">
                            <div class="icon sb-icon">
                                <i class="fa-solid fa-filter"></i>
                            </div>
                            <span class="sb-text"><b>FILTRI</b></span>
                        </div>
                    </div>
                    <li class="item">
                        <div class="navbar-item dropdown">
                                <span class="icon">
                                    <i class="fa-solid fa-user-ninja"></i>
                                </span>
                                <span>Skrij</span>
                                <span class="icon">
                                    <i class="fa-solid fa-caret-down"></i>
                                </span>
                        </div>
                        <div class="sub-menu">
                            <div class="sub-item">
                                <label for="done">
                                <input type="checkbox" id="done" (change)="onHideDoneCheckboxChange()">
                                <span class="pl-2">
                                    <i class="fas fa-check has-text-success-dark"></i>
                                    Dokončane
                                </span>
                                </label>
                            </div>
                            <div class="sub-item">
                                <label for="notDoneYet">
                                <input type="checkbox" id="notDoneYet" (change)="onHideNotDoneYetCheckboxChange()">
                                <span class="pl-2">
                                    <i class="fa-solid fa-hourglass-half has-text-link-dark"></i>
                                    Ne dokončane
                                </span>
                               </label>
                            </div>
                            <div class="sub-item">
                                <label for="hide">
                                <input type="checkbox" id="hide" (change)="onHideNotDoneCheckboxChange()">
                                <span class="pl-2">
                                    <i class="fa-solid fa-hourglass has-text-danger-dark"></i>
                                    Pretekle
                                </span>
                                </label>
                            </div>
                            <div class="sub-item">
                                <label for="deleted">
                                <input type="checkbox" id="deleted" (change)="onHideDeletedCheckboxChange()">
                                <span class="pl-2">
                                    <i class="fa-solid fa-trash"></i>
                                    Izbrisane
                                </span>
                               </label>
                            </div>
                        </div>
                    </li>
                    <div class="item-title">
                        <span class="line"></span>
                        <div class="link flex">
                            <div class="icon sb-icon">
                                <i class="fa-solid fa-tags"></i>
                            </div>
                            <span class="sb-text"><b>OZNAKE</b></span>
                        </div>
                    </div>
                    <li class="item">
                        <div class="navbar-item">
                            <button class="button" (click)="modelOpenTags()">
                                <div class="icon">
                                    <i class="fa-solid fa-tag"></i> 
                                </div>
                                <span class="btn-text">Oznake</span>
                            </button>
                            <div *ngIf="showModalTags">
                                <app-model-tags *ngIf="showModalTags" (close)="modelCloseTags()"></app-model-tags>
                            </div>
                        </div>
                    </li>
                    <div class="item-title">
                        <span class="line"></span>
                        <div class="link flex">
                            <div class="icon sb-icon">
                                <i class="fa-solid fa-list-check"></i>
                            </div>
                            <span class="sb-text"><b>OPRAVILA</b></span>
                        </div>
                    </div>
                    <li class="item">
                        <div class="navbar-item">
                            <!--Ustvari-->
                            <button class="button" (click)="modelOpenCreate()">
                                <div class="icon is-large">
                                    <i class="far fa-calendar-plus"></i>
                                </div>
                                <span>Ustvari opravilo</span>
                            </button>
                             <div *ngIf="showModalCreate">
                                        <app-model-content *ngIf="showModalCreate" (close)="modelCloseCreate()"></app-model-content>
                             </div>
                        </div>
                        <div class="navbar-item">
                            <!--Uredi-->
                            <button (click)="modelOpenEdit()" class="button">
                                <div class="icon is-large">
                                    <i class="fas fa-square-pen"></i>
                                </div>
                                <span>Uredi opravilo</span>
                            </button>
                            <div *ngIf="showModalEdit">
                                <app-model-content-edit *ngIf="showModalEdit" (close)="modelCloseEdit()"></app-model-content-edit>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <!--Izbrisi-->
                            <button class="button" (click)="modelOpenDelete()">
                                <div class="icon is-large is-right">
                                    <i class="far fa-calendar-minus"></i>
                                </div>
                                <span>Izbriši opravilo</span>
                            </button>
                            <div  *ngIf="showModalDelete">
                                <app-model-content-delete *ngIf="showModalDelete" (close)="modelCloseDelete()"></app-model-content-delete>
                            </div>
                        </div>
                    </li>
                </ul>
        </div>
    </nav>
    <div class="page-container">
        <div class="content pt-2">
            <h1 class="title is-1">
                Opravila
            </h1>
            <div *ngIf="searchData.search!''" class="tag is-link is-medium is-rounded">
                {{searchData.search}}
                <button (click)="showAll()" class="delete py-1"></button>
            </div>
        </div>
        <div class="content">
            <div class="pt-3" *ngFor="let item of items.data">
                <div class="box title-box" *ngIf="item.tag!=savedTag">
                    <div class="tooltip" data-tooltip="Ime oznake">
                        <h2 class="title is-2 has-text-white-bis">
                            {{item.tag}}
                            {{saveTag(item.tag)}} 
                        </h2>
                    </div>
                </div>
                    <!--Pusta-->
                    <span *ngIf="!hideNotDoneYet && item.itemStatus==1 && item.active==1">
                        <div class="box notdone">
                            <div class="columns">
                                <div class="column is-1">
                                    <div class="tooltip" data-tooltip="Opravljeno">
                                        <button (click)="doneCurrent(item)" class="button checkbox-type">
                                            <div class="icons">
                                                <i class="fas fa-check checkbox-type-icon"> </i>
                                            </div>
                                        </button>  
                                    </div>
                                </div>
                                <div class="column">
                                    <h3 class="title  is-2">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="tooltip" data-tooltip="Še ne opravljeno">
                                                    {{item.itemName}} 
                                                </div>
                                            </div>
                                            <div class="column is-1">
                                                <div class="tooltip" data-tooltip="Opomnik">
                                                    <button class="ReminderChkbox" (click)="createNotification(item)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </h3>
                                    <p class="description">{{item.itemDesc}}</p>
                                    <div class="tooltip" data-tooltip="Priloge" style="width: 100%;">
                                        <h5 class="subtitle is-5 liner has-text-grey-lighter">Priloge</h5>
                                    </div>
                                    <div class="list" *ngFor="let file of files.data">
                                        <span *ngIf="file.tag == item.tag && file.itemName == item.itemName">
                                            <div class="tooltip" data-tooltip="Prenesi prilogo">
                                                <div class="file_c">
                                                    <button class="button" (click)="downloadFile(file.id,file.fileName)">
                                                        <span class="icon-text">
                                                            <span class="icon is-small">
                                                                <i [ngClass]="getFileIconClass(file.fileName)" class="fas fa-1x"></i> 
                                                            </span>
                                                            <span> {{file.fileName}} | {{file.fileSize | byteSize}}</span>
                                                            <span class="icon">
                                                                <i class="fa-regular fa-circle-down"></i>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>   
                                            </div>
                                        </span>
                                    </div>
                                    <hr class="slim">
                                    <div class="field">
                                        <div class="columns">
                                            <div class="column is-3">
                                                <div class="box time-box">
                                                    <div class="tooltip center has-text-link-dark" data-tooltip="Zastavljen datum oddaje: ">
                                                        <div class="icon">
                                                            <i class="fa-solid fa-hourglass-half"></i>
                                                        </div>
                                                        <b>{{item.completeDate | date:'HH:mm dd.MM.yyyy'}}</b>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="tags has-addons end">
                                                    <span class="tag is-rounded is-medium">
                                                        <div class="icons">
                                                            <i class="fas fa-tag"></i>
                                                        </div>
                                                    </span>
                                                <span class="tag is-rounded has-background-link-dark is-medium has-text-white-bis">
                                                    <b>{{item.tag}}</b>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                    <!--Soft Izbrisana-->
                    <div class="box deleted"*ngIf="!hideDeleted && item.itemStatus==0">
                        <div class="columns">
                            <div class="column is-1">
                                <div class="tooltip" data-tooltip="Izbrisano">
                                    <div class="icon is-large">
                                        <i class="fa-solid fa-trash fa-2x"></i>
                                    </div> 
                                </div>

                            </div>
                            <div class="column">
                                <div class="field">
                                    <div class="tooltip" data-tooltip="Izbrisano">
                                    <h3 class="title has-text-grey-light is-2"><s>{{item.itemName}}</s></h3>
                                    </div>
                                    <p class="description"><s>{{item.itemDesc}}</s></p>
                                    <div class="tooltip" data-tooltip="Priloge" style="width: 100%;">
                                        <h5 class="subtitle is-5 liner has-text-grey-lighter">Priloge</h5>
                                    </div>
                                    <div class="list" *ngFor="let file of files.data">
                                        <span *ngIf="file.tag == item.tag && file.itemName == item.itemName">
                                            <div class="tooltip" data-tooltip="Prenesi prilogo">
                                                <div class="file_c">
                                                    <button class="button" (click)="downloadFile(file.id,file.fileName)">
                                                        <span class="icon-text">
                                                            <span class="icon is-small">
                                                                <i [ngClass]="getFileIconClass(file.fileName)" class="fas fa-1x"></i> 
                                                            </span>
                                                            <span> {{file.fileName}} | {{file.fileSize | byteSize}}</span>
                                                            <span class="icon">
                                                                <i class="fa-regular fa-circle-down"></i>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>   
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <hr class="slim">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="box time-box has-text-grey">
                                                <div class="tooltip center" data-tooltip="Zastavljen datum oddaje: ">
                                                    <s>
                                                    <div class="icon">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </div>
                                                    <b>{{item.completeDate | date:'HH:mm dd.MM.yyyy'}}</b>
                                                    </s>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="tags has-addons end">
                                                <span class="tag is-rounded is-medium">
                                                    <div class="icons">
                                                        <i class="fas fa-tag"></i>
                                                    </div>
                                                </span>
                                            <span class="tag is-rounded is-dark is-medium">
                                                <b><s>{{item.tag}}</s></b>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Narejena-->
                    <div class="box done" *ngIf="!hideDone && item.itemStatus==1 && item.active==0">
                        <div class="columns">
                            <div class="column is-1">
                                <div class="tooltip" data-tooltip="Še ne opravljeno">
                                    <button (click)="notDoneCurrent(item)" class="button checkbox-type-done">
                                        <div class="icons">
                                            <i class="fas  fa-check checkbox-type-icon-done"></i>
                                        </div>
                                    </button>  
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <h3 class="title is-2">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="tooltip" data-tooltip="Dokončano">
                                                    {{item.itemName}}
                                                    </div>
                                            </div>
                                            <div class="column is-1">
                                                <div class="tooltip" data-tooltip="Ne Opravljeno">
                                                    </div>
                                            </div>
                                        </div>
                                    </h3>
                                    <p class="description">{{item.itemDesc}}</p>
                                    <div class="tooltip" data-tooltip="Priloge" style="width: 100%;">
                                        <h5 class="subtitle is-5 liner has-text-grey-lighter">Priloge</h5>
                                    </div>
                                    <div class="list" *ngFor="let file of files.data">
                                        <span *ngIf="file.tag == item.tag && file.itemName == item.itemName">
                                            <div class="tooltip" data-tooltip="Prenesi prilogo">
                                                <div class="file_c">
                                                    <button class="button" (click)="downloadFile(file.id,file.fileName)">
                                                        <span class="icon-text">
                                                            <span class="icon is-small">
                                                                <i [ngClass]="getFileIconClass(file.fileName)" class="fas fa-1x"></i> 
                                                            </span>
                                                            <span> {{file.fileName}} | {{file.fileSize | byteSize}}</span>
                                                            <span class="icon">
                                                                <i class="fa-regular fa-circle-down"></i>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>   
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <hr class="slim">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-5">
                                            <div class="box time-box">
                                                <div class="tooltip center has-text-success-dark" data-tooltip="Datum in ura kadar je bilo opravilo dokončano | Zastavljen datum oddaje: ">
                                                    <div class="icon">
                                                        <i class="fa-solid fa-check"></i>  
                                                    </div>
                                                    <b>{{item.dateOfCompletion | date:'HH:mm dd.MM.yyyy'}} |</b> 
                                                    <div class="icon">
                                                        <i class="fa-solid fa-hourglass-end"></i>
                                                    </div>
                                                    <b>{{item.completeDate | date:'HH:mm dd.MM.yyyy'}}</b> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="tags has-addons end">
                                                <span class="tag is-rounded has-background-success-dark is-medium has-text-white-bis">
                                                    <div class="icons">
                                                        <i class="fas fa-tag"></i>
                                                    </div>
                                                </span>
                                            <span class="tag is-rounded is-whites is-medium has-text-success-dark">
                                                <b>{{item.tag}}</b>
                                            </span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Ne Dokončano-->
                    <div class="box expired" *ngIf="!hideNotDone && item.itemStatus == 2 && item.active != 0">
                        <div class="columns">
                            <div class="column is-1">
                                <div class="tooltip" data-tooltip="Pretekel rok">
                                    <span class="icon is-large has-text-danger-dark">
                                        <i class="fas fa-x fa-2x"></i>
                                    </span>  
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <h3 class="title is-2">
                                        <div class="tooltip" data-tooltip="Pretekel rok">
                                        {{item.itemName}}
                                        </div>
                                    </h3>
                                    <p class="description ">{{item.itemDesc}}</p>
                                    <div class="tooltip" data-tooltip="Priloge" style="width: 100%;">
                                        <h5 class="subtitle is-5 liner has-text-grey-lighter">Priloge</h5>
                                    </div>
                                    <div class="list" *ngFor="let file of files.data">
                                        <span *ngIf="file.tag == item.tag && file.itemName == item.itemName">
                                            <div class="tooltip" data-tooltip="Prenesi prilogo">
                                                <div class="file_c">
                                                    <button class="button" (click)="downloadFile(file.id,file.fileName)">
                                                        <span class="icon-text">
                                                            <span class="icon is-small">
                                                                <i [ngClass]="getFileIconClass(file.fileName)" class="fas fa-1x"></i> 
                                                            </span>
                                                            <span> {{file.fileName}} | {{file.fileSize | byteSize}}</span>
                                                            <span class="icon">
                                                                <i class="fa-regular fa-circle-down"></i>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>   
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <hr class="slim">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-3">
                                            <div class="box time-box has-text-danger-dark">
                                                <div class="tooltip center" data-tooltip="Zastavljen datum oddaje: ">
                                                    <div class="icon">
                                                        <i class="fa-solid fa-hourglass"></i>
                                                    </div>
                                                    <b>{{item.completeDate | date:'HH:mm dd.MM.yyyy'}}</b>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="tags has-addons end">
                                                <span class="tag is-rounded has-background-danger-dark is-medium has-text-white-bis">
                                                    <div class="icons">
                                                        <i class="fas fa-tag"></i>
                                                    </div>
                                                </span>
                                            <span class="tag is-rounded is-whites is-medium has-text-danger-dark">
                                                <b>{{item.tag}}</b>
                                            </span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Narejena-->
                    <div class="box done" *ngIf="!hideDone && item.itemStatus==2 && item.active==0">
                        <div class="columns">
                            <div class="column is-1">
                                <div class="tooltip" data-tooltip="Opravljeno v roku">
                                    <div class="icon is-large has-text-success-dark">
                                        <i class="fa-solid fa-check fa-2x"></i>
                                    </div> 
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <h3 class="title is-2">
                                        <div class="tooltip" data-tooltip="Dokončano">
                                        {{item.itemName}}
                                        </div>
                                    </h3>
                                    <p class="description">{{item.itemDesc}}</p>
                                    <div class="tooltip" data-tooltip="Priloge" style="width: 100%;">
                                        <h5 class="subtitle is-5 liner has-text-grey-lighter">Priloge</h5>
                                    </div>
                                    <div class="list" *ngFor="let file of files.data">
                                        <span *ngIf="file.tag == item.tag && file.itemName == item.itemName">
                                            <div class="tooltip" data-tooltip="Prenesi prilogo">
                                                <div class="file_c">
                                                    <button class="button" (click)="downloadFile(file.id,file.fileName)">
                                                        <span class="icon-text">
                                                            <span class="icon is-small">
                                                                <i [ngClass]="getFileIconClass(file.fileName)" class="fas fa-1x"></i> 
                                                            </span>
                                                            <span> {{file.fileName}} | {{file.fileSize | byteSize}}</span>
                                                            <span class="icon">
                                                                <i class="fa-regular fa-circle-down"></i>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>   
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <hr class="slim">
                                <div class="field">
                                    <div class="columns">
                                        <div class="column is-5">
                                            <div class="box time-box">
                                                <div class="tooltip center has-text-success-dark" data-tooltip="Dne katerega je bilo opravilo dokončano | Zastavljen datum oddaje: ">
                                                    <div class="icon">
                                                        <i class="fa-solid fa-check"></i>  
                                                    </div>
                                                    <b>{{item.dateOfCompletion | date:'HH:mm dd.MM.yyyy'}} |</b> 
                                                    <div class="icon">
                                                        <i class="fa-solid fa-hourglass-end"></i>
                                                    </div>
                                                    <b>{{item.completeDate | date:'HH:mm dd.MM.yyyy'}}</b> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div class="tags has-addons end">
                                                <span class="tag is-rounded has-background-success-dark is-medium has-text-white-bis">
                                                    <div class="icon">
                                                        <i class="fas fa-tag"></i>
                                                    </div>
                                                </span>
                                            <span class="tag is-rounded is-whites is-medium has-text-success-dark">
                                                <b>{{item.tag}}</b>
                                            </span>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>