@media (max-height: 700px) {
  .page-container
  {
    margin-left: 0rem;
  }
}

.page-container {
  position: relative;
  min-height: 100vh;
  margin-left: 5rem;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .page-container
  {
    margin-left: 0rem;
  }
}

@media (max-height: 700px) {
  .page-container
  {
    margin-left: 0rem;
  }
}

/*Da je v centru*/
.center 
{
  display: flex;
  justify-content: center;
  align-content: center;
}

/*Da je v desno*/
.end
{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

/*Naslovni box*/
.title-box
{
  background-color: hsl(217, 71%, 53%);
  margin-bottom: -12px;
  border-radius: 15px 15px 0px 0px;
}

/*Circular Button*/
.circle-btn
{
  border: solid 2px ;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 65%);
  transition: 0.2s ease-in-out;
}

.circle-btn:hover
{
  background-color: hsl(217, 71%, 91%);
  color: hsl(217, 71%, 53%);
  transform: scale(1.1);
  & + .menu-user-list {
    display: flex;
    height: auto;
    width: auto;
    box-shadow: 2px 2px 5px 0px hsl(0, 0%, 86%);
    transform: scale(1) translateY(0px);
  }
}

#page.button
  {
    border: none;
    border-bottom: solid 2px hsl(0, 0%, 71%);
    border-radius: 10px;
    transition: 0.5s;
  }

  #page.button[disabled]
  {
      display: none;
  }
  
  #page.button:not([disabled]):hover
  {
      background-color: hsl(217, 71%, 91%);
      color: hsl(217, 71%, 53%);
      transform: scale(1.05);
  }
