body{
  padding-top: 56px;
}

 .liner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    min-width: 20px;
    margin: auto;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(90deg, transparent 5px, hsl(0, 0%, 86%) 5px, hsl(0, 0%, 86%) 20px, transparent 15px);
    background-size: 20px 1px;
  }

  &:after {
    margin-left: 10px;
  }
}
.page-container {
  position: relative;
  min-height: 100vh;
  margin-left: 5rem;
  padding: 1rem;
}

.notdone
{
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-width: 5px;
  border-color: hsl(217, 71%, 45%);
  transition: all 0.1s ease-in-out;
}

.notdone:hover
{
  border-left-width: 10px;
}

.done
{
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-width: 5px;
  border-color: hsl(141, 53%, 31%);
  transition: all 0.1s ease-in-out;
}

.done:hover
{
  border-left-width: 10px;
}


.expired
{
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-width: 5px;
  border-color: hsl(348, 86%, 43%);
  transition: all 0.1s ease-in-out;
}

.expired:hover
{
  border-left-width: 10px;
}

.deleted
{
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-width: 5px;
  transition: all 0.1s ease-in-out;
}

.deleted:hover
{
  border-left-width: 10px;
}

.tag
{
  box-shadow: 2px 2px 3px hsl(0, 0%, 86%);
}
/*hr*/
hr.solid
{
border-top: 2px solid hsl(0, 0%, 86%);
border-radius: 5px;
}

hr.slim
{
border-top: 1px solid hsl(0, 0%, 86%);
border-radius: 5px;
}

hr.bold
{
border-top: 4px solid hsl(0, 0%, 71%);
border-radius: 5px;
}

/*Sqare button*/
.sqr_btn
{
  border-radius: 10px;
  border-style: none;
  height: 40px;
  width: 40px;
  background-color: hsl(217, 71%, 45%);
  color: hsl(0, 0%, 98%);
}

.sqr_btn:hover
{
  background-color: hsl(217, 71%, 35%);
}

/*Gumb kot checkbox*/
.checkbox-type
{
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border-color: hsl(217, 71%, 45%);
  transition: all 0.5s ease, border-color 0.3s ease-in-out;
  background-color: hsl(0, 0%, 98%);
}

.checkbox-type:active
{
  background-color: hsl(141, 53%, 31%);
}

.checkbox-type:hover
{
  border-radius: 30px;
}

.checkbox-type-done:hover
{
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  border-bottom-style: solid;
  border-color: hsl(217, 71%, 45%);
}

.checkbox-type-done
{
  background-color: hsl(141, 53%, 31%);
  border-radius: 30px;
  border-width: 3px;
  height: 40px;
  width: 40px;
  border-color: hsl(141, 53%, 31%);
  transition: all 0.5s ease, border-color 0.3s ease-in-out;
}

.checkbox-type-icon
{
  color: hsl(217, 71%, 45%);
  transform: scale(0);
  transition: all 0.4s ease;
}

.checkbox-type:hover .checkbox-type-icon
{
  transform: scale(1.5);
}

.checkbox-type-icon-done
{
  color: white;
  transform: scale(1.5);
  transition: all 0.4s ease;
}

.checkbox-type-done:hover .checkbox-type-icon-done
{
  transform: scale(0);
  color: hsl(217, 71%, 91%);
}

/*Naslov*/

.todo-title
{
  font-size: 2rem;
}

/*Reminder*/
.ReminderChkbox
{
  border-width: 3px;
  border-style: solid;
  border-radius: 99px;
  height: 40px;
  width: 40px;
  color: hsl(217, 71%, 45%);
  border-color: hsl(217, 71%, 45%);
  transition: all 1s ease, background-color 0.4s ease-in-out, border-width 0.1s ease-in-out;
  background-color: hsl(0, 0%, 98%);
}

.ReminderIcon
{
  transform: scale(0);
  transition: opacity 1s ease, transform 0.5s ease-in-out;
}

.ReminderChkbox:active
{
  background-color: hsl(217, 71%, 45%);
}


.ReminderChkbox:active .ReminderIcon
{
  color: hsl(0, 0%, 98%);
}

.ReminderChkbox:hover
{
  border-width: 0;
}

.ReminderChkbox:hover .ReminderIcon
{
  transform: scale(2);
}

/*Opis*/
.description
{
  color:hsl(0, 0%, 65%);
  font-size: 20px;
  transition: 0.5s;
}

.box:hover .description
{
  color: hsl(0, 0%, 6%);
}

/*Izgled*/
.box 
{
  border-radius: 15px;
}

/*box za prikaz časa*/
.time-box
{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0px 0px 0px 1px hsl(0, 0%, 86%);
  opacity: 1;
}

/*Da je v centru*/
.center 
{
  display: flex;
  justify-content: center;
  align-content: center;
}

/*Da je v desno*/
.end
{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

/*Naslovni box*/

.title-box
{
  background-color: hsl(217, 71%, 53%);
  margin-bottom: -12px;
  border-radius: 15px 15px 0px 0px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 70px;
  background: hsl(0, 0%, 96%);
  padding: 15px 10px;
  box-shadow: 0 0 2px hsl(0, 0%, 29%);
  transition: all 0.4s ease;
  overflow: hidden;
  z-index: 1;
}

.sidebar:hover {
  width: 250px;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
  overflow-y: auto;
  height: calc(100% - 56px);
}

.menu_container::-webkit-scrollbar {
  display: none;
}

.sb-icon
{
  color: hsl(0, 0%, 65%);
  display: flex;
  min-width: 50px;
  height: 50px;
  font-size: 18px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.sidebar:hover .sb-icon
{
  color: hsl(217, 71%, 53%);
}

.sidebar:hover .sb-text
{
  opacity: 1;
}

.sidebar:hover .item-title
{
  color: hsl(217, 71%, 53%);
}

.item-title
{
  list-style: none;
  transition: all 0.4s ease;
}

.flex {
  display: flex;
  align-items: center;
}

.item 
{
  display: block;
  padding: 1rem;
  opacity: 0;
  transition: all 0.4s ease;
}

.sidebar:hover .item
{
  opacity: 1;
}

.navbar-item a .dropdown
{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.4 ease;
}

.sub-menu
{
  display: none;
  opacity: 1;
  font-size: 15px;
}

.dropdown
{
  height: 2.5em;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  border: none;
  border-radius: 10px;
  background-color: hsl(0, 0%, 96%);
  transition: 0.5s;
  cursor: default;
}

.dropdown:hover
{
  background-color: hsl(217, 71%, 91%);
  color: hsl(217, 71%, 53%);
  transform: scale(1.05);
}

.dropdown:hover + .sub-menu
{
  display: block;
  opacity: 1;
}
.sub-menu:hover
{
  display: block;
  opacity: 1;
}

.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  padding: 5px;
  background: hsl(0, 0%, 86%);
  transition: all 0.4s ease;
  z-index: -1;
}

.sidebar:hover .line
{
  border-radius: 5px;
  background-color: hsl(217, 71%, 91%);
  width: 225px;
}


.sub-item
{
  border-radius: 5px;
  padding: 0.2rem;
  cursor: default;
  transition: all 0.4s ease;
}

.sub-item:hover
{
  background-color: hsl(217, 71%, 91%);
  color: hsl(217, 71%, 53%);
  transform: scale(1.05);
}
/*sidebar buttons*/
.sidebar .button
{
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 96%);
    transition: 0.5s;
}

.sidebar .button:hover
{
    background-color: hsl(217, 71%, 91%);
    color: hsl(217, 71%, 53%);
    transform: scale(1.05);
}

/*file download*/
.file_c
{
  padding: 5px;
  width: 100%;
}

.file_c .button
{
    border-radius: 10px;
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 9%);
    transition: 0.5s;
}

.file_c .button:hover
{
    background-color: hsl(217, 71%, 91%);
    color: hsl(217, 71%, 53%);
    transform: scale(1.05);
}

.list
{
  display: flex;
  align-items: start;
  justify-content: start;
}

/*Switch checkbox*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input.switch { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.switch:checked + .slider {
  background-color: #2196F3;
}

input.switch:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input.switch:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Menu list*/
.menu-sub-list {
  list-style-type: none;
  transform: scale(0) translateY(-40px);
  transition: all 0.5s ease-in-out;
  padding: 8px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  position: absolute;
  right: 0%;
  top: 60%;
  z-index: -1;
  height: 39px;
  width: 39px;
  overflow: hidden;
  flex-direction: column;
  &:hover {
    z-index: 0;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 5px 0px hsl(0, 0%, 86%);
    transform: scale(1) translateY(0px);
  }
}

.button-item {
  position: relative;
}

.menu-item {
  opacity: 1;
  position: relative;
}

.show-menu-button {
  border: 0;
  border-style: none;
  padding: 8px 8px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  z-index: 0;
  align-items: center;
  justify-items: center;
  position: relative;
  background-color: hsl(217, 71%, 91%);
  color: hsl(217, 71%, 53%);
  &:hover {
    & + .menu-sub-list {
      z-index: 0;
      height: 100px;
      width: 100px;
      box-shadow: 2px 2px 5px 0px hsl(0, 0%, 86%);
      transform: scale(1) translateY(0px);
    }
  }
}

.menu-button {
  border: 0;
  border-style: none;
  padding: 8px 8px;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  background-color: hsl(217, 71%, 91%);
  color: hsl(217, 71%, 53%);
  transition: 0.5s ease-in-out, border-left 0.1s ease-in-out,  border-bottom 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
    border-left: 2px solid hsl(217, 71%, 45%);
    border-bottom: 2px solid hsl(217, 71%, 45%);
    & + .menu-sub-list {
      display: flex;
    }
  }
}

/*Circular Button*/
.circle-btn
{
  border: solid 2px ;
  padding: 8px 8px;
  height: 40px;
  width: 40px;
  border-radius: 99px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 65%);
  transition: 0.2s ease-in-out;
}

.circle-btn:hover
{
  background-color: hsl(217, 71%, 91%);
  color: hsl(217, 71%, 53%);
  transform: scale(1.1);
  & + .menu-user-list {
    display: flex;
    height: auto;
    width: auto;
    box-shadow: 2px 2px 5px 0px hsl(0, 0%, 86%);
    transform: scale(1) translateY(0px);
  }
}

/*User Asign menu*/
.menu-user-list
{
  list-style-type: none;
  transform: scale(0) translateY(-40px);
  transition: all 0.2s ease-in-out;
  padding: 8px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 10px;
  position: absolute;
  right: 0%;
  top: 60%;
  height: 0px;
  width: 0px;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    height: auto;
    width: auto;
    box-shadow: 2px 2px 5px 0px hsl(0, 0%, 86%);
    transform: scale(1) translateY(0px);
  }
}
