
.input
{
    width: 100%;
    transition: 0.5s;
    background-color: hsl(0, 0%, 96%);
    box-shadow: 0px 5px 3px hsl(0, 0%, 71%);
}

.input:hover
{
    border-color: #485fc7;
}

/*.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
    width: 250px;
  }
*/

.button
{
    border: none;
    background-color: hsl(0, 0%, 98%);
    transition: 0.5s;
    box-shadow: 0px 5px 3px hsl(0, 0%, 71%);
}

.button:hover
{
    background-color: hsl(217, 71%, 91%);
    color: hsl(217, 71%, 53%);
}

.icon
{
    color: hsl(0, 0%, 6%);
}