<!--Iskalnik-->
    <form [formGroup]="searchForm">
        <div class="field has-addons">
            <div class="control">
                <button (click)="onSearch()" class="button is-link">
                    <span class="icon">
                        <i class="fas fa-magnifying-glass"></i>
                    </span>
                </button>
            </div>
            <div class="control">
                <input class="input"formControlName="search" type="text" placeholder="Išči...">
            </div>
        </div>
    </form>  