.modal{
    backdrop-filter: blur(1px);
}

.input:hover
{
    border-color: #485fc7;
}

.button
{
    border-radius: 99px;
    transition: 0.07s;
}

.button:active
{
    border-radius: 5px;
    border-color: hsl(219, 70%, 96%);
    color: hsl(219, 70%, 96%);
    background-color: #485fc7;
}