
<!--Form-->
<section class="section is-medium">
<div class="container is-fluid">
<div class="box">
<!--FORM-->
<form [formGroup]="loginForm">
<!--NASLOV-->
    <div class="field">
        <p class="title">
            Prijava
          </p>
          </div>
<!--MAIL-->
    <div class="field has-addons">
        <p class="control is-expanded has-icons-right has-icons-left">
          <input formControlName="email" class="input is-medium" type="email" placeholder="ElektronskaPošta@mail.si">
          <span class="icon is-small is-left">
            <i class="fas fa-inbox"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          </p>
        </div>
        <div class="pb-2">
          <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="notification is-danger">*Zahtevano!</small>
          <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('email','email')" class="notification is-danger">*Ta epoštni naslov ne obstaja!</small>
        </div>
<!--GESLO-->
      <div class="field has-addons">
        <p class="control is-expanded has-icons-left">
          <input formControlName="password" class="input is-medium" [type]="type" placeholder="Geslo">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </p>
        <p class="control">
            <a (click)="hideShowPassword()" class="button is-medium fas {{eyeIcon}}"></a>
        </p>
      </div>
      <div class="pb-2">
        <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="notification is-danger">*Zahtevano!</small>
      </div>
      <div class="field">
<!--PRIJAVA GUMB & REGISTRACIJA-->
<div class="field">
    <div class = "columns">
        <div class = "column">
        <p class="control" routerLink="/login">
          <button [disabled]="!loginForm.valid" (click)="onLogin()" class="button is-info is-medium is-fullwidth">
            Prijava
          </button>
        </p>
    </div>
    <div class = "column my-auto is-mobile">
        <p class="control" >
            <b>Še nimaš računa?</b>
            <a id="forget" routerLink="/signup"> Registracija </a>
          </p>
      </div>
    </div>
</div>
</div>
</form>
</div>
</div>
</section>