<!--Navbar-->
<section class="hero is-danger">
  <div class="hero-head">
  <nav class="navbar is-transparent is-fixed-top">
      <div class="navbar-menu is-active">
        <div class="navbar-end">
        <div class="buttons">
        <span class="button is-stati is-danger">
          <span class="icons">
            <i class="fas fa-home"></i>
          </span>
          <p>Home</p>
        </span>
      </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <button class="button is-primary" routerLink="/login">
                Prijava
              </button>
            <button class="button is-grey-lighter" routerLink="/signup">
              <strong>Registracija</strong>
            </button>
          </div>
        </div>
      </div>
  </nav>
  </div>
  <!--Hero-->
    <div class="hero-body">
      <p class="title">
        <span class="icons">
          <i class="fas fa-brands fa-github"></i>
        </span>
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject">
        MyFirstLogiInProject
      </a>
      </p>
      <p class="subtitle">
        Home
      </p>
    </div>
  </section>

<section class="section is-large">
  <div class="container is-fluid">
<table class="table is-striped is-bordered is-narrow is-fullwidth is-hoverable">
   <thead>
       <tr>
          <th class="has-text-danger" scope="col" >
            <span class="icons">
              <i class="fas fa-hashtag"></i>
            </span>
          </th>
          <th class="has-text-danger" scope="col">
            <span class="icons">
              <i class="fas fa-user"></i>
            </span>
            Ime
          </th>
          <th class="has-text-danger" scope="col">
            <span class="icons">
              <i class="fas fa-signature"></i>
            </span>
            Priimek
          </th>
          <th class="has-text-danger" scope="col">
            <span class="icons">
              <i class="fas fa-solid fa-inbox"></i>
            </span>
            Elektronski naslov
          </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users; let i= index">
          <td >{{i+1}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
      </tr>

  </tbody>
</table>
</div>
</section>