<body>
  <section class="section">
    <p class="title">
      Grafi opravil
    </p>
    <div class="columns" id="flex1">
      <app-data-sqare-card class="center-on-mobile"></app-data-sqare-card>
      <div class="box stacked-chart" id="stacked-chart">
        <h4 class="title is-4">Opravila v zadnjih treh mescih</h4>
        <app-stacked-graph></app-stacked-graph> 
      </div>
    </div>
    <div class="columns" id="flex2">
      <div class="box timeline-chart" id="timeline-chart">
        <h4 class="title is-4">Najhitreje opravljena opravila</h4>
        <app-timeline-chart></app-timeline-chart>
      </div>
      <div class="box" id="percentage-graph">
        <app-percentage-graph></app-percentage-graph>
      </div>
    </div>
  </section>
</body>