body
{
    padding-top: 56px;
}

@media (max-width: 1024px) {
    body
    {
        padding-top: 0px;
    }
}

.center-on-mobile
{}

.vl {
    border-left: 6px solid;
    border-radius: 5px;
    opacity: 0.25;
  }
#stacked-chart
{
    display: inline;
    width: 100%;
    height: 530px;
    border-radius: 25px;
}
#flex1
{
    display: flex;
    flex-flow: space-evenly;
    width: 100%;
    column-gap: 25px;
}

#flex2
{
    display: flex;
    flex-flow: space-evenly;
    width: 100%;
    column-gap: 25px;
}
#percentage-graph
{
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
#timeline-chart
{
    width: 100%;
    height: 550px;
    border-radius: 25px;
}

.subtitle
{
    font-weight: 750;
}

.title
{
    color: hsl(217, 71%, 53%);
}

@media (max-width: 1000px) {

    .timeline-chart
    {
        width: 100%;
    }
    #flex1
    {
        display: block;
        flex-direction: column;
        padding-bottom: 25px;
    }
    #flex2
    {
        flex-direction: column;
    }
    #percentage-graph
    {
        width: 100%;
    }
    .center-on-mobile
    {
        justify-self: center;
        align-self: center;
    }
}