/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
  }
  
  .tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.2s, visibility 0.2s;
    font-size: 15px;
  }
  
  .tooltip:hover::before {
    opacity: 1;
    visibility: visible;
  }