<div class="modal is-active">
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title">
                <h4 class="title is-4 has-text-danger"><b>Opozorilo</b></h4>
                <h5 class="subtitle is-5">
                    <span class="icon">
                        <i class="fa-solid fa-clipboard-list"></i>
                    </span>
                    {{item_tag}}, {{item_itemName}}
                </h5>
            </div>
            <button (click)="modelCloseDelete()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="container is-fluid">
                    <h6 class="title is-6">Ste prepričani da želite izbrisati <b class="has-text-danger">{{item_itemName}}, {{item_tag}}</b>!</h6>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button (click)="onDelete()" class="button is-danger">Da</button>
            <button (click)="modelCloseDelete()" class="button is-dark">Ne</button>
        </footer>
    </div>
</div>