<div class="tooltip" style="width: 100%;" data-tooltip="Klikni naslov za več podrobnosti.">
    <div class="box cardbox" style="transition: all 0.4s ease-in-out;width: 100%;" #cardbox *ngIf="shouldShowCard(item_ItemStatus, item_Active)" [ngClass]="getCardStatus(item_ItemStatus, item_Active)" [hidden]="">
        <div class="columns is-mobile">
            <div class="column ">
                <div class="tooltip" data-tooltip="Označi kot opravljeno" *ngIf="item_ItemStatus==1 && item_Active==1">
                    <button (click)="doneCurrent(item)" class="button checkbox-type">
                        <div class="icons">
                            <i class="fas fa-check checkbox-type-icon"> </i>
                        </div>
                    </button>  
                </div>
                <div class="tooltip" data-tooltip="Izbrisano" *ngIf="item_ItemStatus==0">
                    <div class="icon is-large">
                        <i class="fa-solid fa-trash fa-2x"></i>
                    </div> 
                </div>
                <div class="tooltip" data-tooltip="Označi kot še ne opravljeno" *ngIf="item_ItemStatus==1 && item_Active==0">
                    <button (click)="notDoneCurrent(item)" class="button checkbox-type-done">
                        <div class="icons">
                            <i class="fas  fa-check checkbox-type-icon-done"></i>
                        </div>
                    </button>  
                </div>
                <div class="tooltip" data-tooltip="Pretekel rok" *ngIf="item_ItemStatus == 2 && item_Active != 0">
                    <span class="icon is-large has-text-danger-dark">
                        <i class="fas fa-x fa-2x"></i>
                    </span>  
                </div>
                <div class="tooltip" data-tooltip="Opravljeno v roku" *ngIf="item_ItemStatus==2 && item_Active==0">
                    <div class="icon is-large has-text-success-dark">
                        <i class="fa-solid fa-check fa-2x"></i>
                    </div> 
                </div>
            </div>
            <div class="column is-3-desktop">
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="tooltip" data-tooltip="Opomnik" *ngIf="item_ItemStatus==1 && item_Active==1">
                            <button class="ReminderChkbox" (click)="createNotification(item)">
                                <span class="icon">
                                    <i class="fa-solid fa-bell ReminderIcon"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="column" *ngIf="verification() === true">
                        <div class="tooltip" data-tooltip="Dodeli opravilo uporabniku" *ngIf="item_ItemStatus==1 && item_Active==1">
                            <span class="user-button-item">
                                <button class="circle-btn" (click)="toggleUserMenu()">
                                    <i class="fa-solid fa-user-plus"></i>
                                </button>
                                <ul class="menu-user-list" [ngClass]="{ 'isActive': isActiveUser }">
                                    <div class="control has-icons-left">
                                        <div class="form" [formGroup]="addUserForm">
                                            <div class="select">
                                                <select formControlName="UserMail" placeholder="Dodaj uporabnika">
                                                    <option value="" disabled selected>Dodaj uporabnika</option>
                                                    <option *ngFor="let user of users.data" [value]="user.email">{{user.email}}</option>
                                                </select>
                                                <span class="icon is-left">
                                                    <i class="fas fa-tag"></i>
                                                  </span>
                                            </div>
                                        </div>
                                        <button class="button" (invalid)="!addUserForm" (click)="asignUserToItem(item_Tag, item_ItemName, addUserForm.get('UserMail')?.value)">Dodaj</button>
                                    </div>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="column" *ngIf="verification() === true">
                        <div class="tooltip" data-tooltip="Dodatne opcije">
                            <span class="user-button-item"(click)="OpenActions()">
                                <button class="circle-btn" *ngIf="!showActions">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <button class="circle-btn" *ngIf="showActions">
                                        <i class="fa-solid fa-xmark"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tooltip" data-tooltip="Odpri opravilo" (click)="showCardModal(item.id)">
            <h2 class="todo-title">
                {{item_ItemName}}
                <i class="fa-solid fa-up-right-from-square"></i>
            </h2>
        </div>
        <div class="field">
            <div class="columns">
                <div class="column">
                    <div class="box time-box">
                        <div class="tooltip center" data-tooltip="Zastavljen datum oddaje: ">
                            <span [ngClass]="textColor(item_ItemStatus, item_Active)">
                                <div class="icon">
                                    <i [ngClass]="getTimerIcon(item_ItemStatus, item_Active)"></i>
                                </div>
                                <ng-container *ngIf="item_ItemStatus === 2 && item_Active === 0; else defaultDate">
                                    <div class="icon">
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                    <b>{{ item_dateOfCompletion | date:'HH:mm dd.MM.yyyy' }}</b> |
                                    <div class="icon">
                                        <i class="fa-solid fa-hourglass-end"></i>
                                    </div>
                                    <b>{{ item_completeDate | date:'HH:mm dd.MM.yyyy' }}</b>
                                </ng-container>
                                <ng-template #defaultDate>
                                    <b>{{ item_completeDate | date:'HH:mm dd.MM.yyyy' }}</b>
                                </ng-template>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column is-4-desktop is-mobile">
                    <div class="tooltip" data-tooltip="Dodeljeni uporabniki">
                        <span class="user-button-item">
                            <button class="circle-btn" (click)="toggleSubmenu()">
                                <i class="fa-solid fa-users"></i>
                            </button>
                            <ul class="menu-user-list" [ngClass]="{ 'isActive': isActive }">
                                <span *ngIf="assignedUsers.data && assignedUsers.data.length > 0">
                                    <span  *ngFor="let auser of assignedUsers.data">
                                        <li *ngIf="auser.tag === item.tag && auser.itemName === item.itemName">
                                            <div class="columns">
                                                <div class="column is-1">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-clipboard-user"></i>
                                                    </span>
                                                </div>
                                                <div class="column">
                                                    <a (click)="navigateToUserDashboard(auser.userMail)"><b>{{auser.userMail}}</b></a>
                                                </div>
                                            </div>
                                        </li>
                                    </span>
                                </span>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="column is-mobile is-2-desktop end">
                    <div class="tooltip" data-tooltip="Ime oznake">
                        <div class="tags has-addons end">
                            <span class="tag is-rounded is-medium">
                                <div class="icons">
                                    <i class="fas fa-tag"></i>
                                </div>
                            </span>
                        <span [ngClass]="tagColor(item_ItemStatus, item_Active)">
                                <b>{{item_Tag}}</b> 
                        </span>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="options-menu" [ngClass]="{ 'isActive': showActions }">
        <div *ngIf="verification() === true">
            <div class="tooltip" data-tooltip="Uredi podrobnosti opravila">
                <button class="button is-dark is-rounded" (click)="modelOpenEdit()">
                    <div class="icons">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="text">
                            Uredi
                        </span>
                    </div>
                </button>  
            </div>
        </div>
        <div *ngIf="verification() === true">
            <div class="tooltip" data-tooltip="Izbriši opravilo">
                <button class="button is-danger is-rounded" (click)="modelOpenDelete()">
                    <div class="icons">
                        <i class="fa-solid fa-delete-left"></i>
                        <span class="text">
                            Izbriši
                        </span>
                    </div>
                </button>  
            </div>
        </div>
        <div *ngIf="verification() === true">
            <div class="tooltip" data-tooltip="Izbriši opravilo">
                <button class="button is-warning is-rounded" (click)="navigateToAnalytics()">
                    <div class="icons">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="text">
                            Podatki
                        </span>
                    </div>
                </button>  
            </div>
        </div>
    </div>
</div>

<!--Show edit todo modal-->
<app-model-content-edit *ngIf="showModalEdit" (close)="modelCloseEdit()"
[item_tag]="item_Tag"
[item_itemName]="item_ItemName"
[item_desc]="item_ItemDesc"
[item_date]="item_completeDate"
(refreshData)="refreshData.emit()"
></app-model-content-edit>

<!--Show delete todo modal-->
<app-model-content-delete *ngIf="showModalDelete" (close)="modelCloseDelete()"
[item_tag]="item_Tag"
[item_itemName]="item_ItemName"
(refreshData)="refreshData.emit()"
></app-model-content-delete>

<!--More info of the todo-->
<app-card-modal
[item]="item" 
[item_Tag]="item_Tag" 
[item_ItemName]="item_ItemName" 
[item_ItemDesc]="item_ItemDesc" 
[item_ItemStatus]="item_ItemStatus" 
[item_Active]="item_Active" 
[item_completeDate]="item_completeDate" 
[item_dateOfCompletion]="item_dateOfCompletion"
[isActiveModal]="isActiveModal" (valueChanged)="closeCardModal()"
[Status_border]="getCardStatus(item_ItemStatus, item_Active)"
[views]="views"
>
</app-card-modal>