
<!doctype html>
<html lang="en">
<body>
  <header>
    <app-hero></app-hero>
  </header>
  <section class="section" id="hero">
    <app-navbar></app-navbar>
  </section>
  <div class="page-container">
  <section class="section" id="body">
    <div class="container">
      <router-outlet routerLink="/login"></router-outlet>
      <ng-toast></ng-toast>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <span class="icon">
          <i class="fas fa-brands fa-github"></i>
        </span>
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject">MyFirstLoginProject</a>
        <strong> by Luka Živković</strong>
      </p>
        <h3>Links</h3>
      <p>
        <a class="" routerLink="/login"><strong>Prijava</strong></a>
      </p>
      <p>
      <a class="" routerLink="/signup"><strong>Registracija</strong></a>
    </p>
  </div>
  </footer>
</div>
</body>
</html>
