
<router-outlet routerLink="/login"></router-outlet>
<ng-toast></ng-toast>
<!doctype html>
<html lang="en">
<body>
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <span class="icon">
          <i class="fas fa-brands fa-github"></i>
        </span>
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject">MyFirstLoginProject</a>
        <strong> by Luka</strong>
      </p>
        <h3>Links</h3>
      <p>
        <a class="" routerLink="/login"><strong>Prijava</strong></a>
      </p>
      <p>
      <a class="" routerLink="/signup"><strong>Registracija</strong></a>
    </p>
  </div>
</footer>
</html>
