html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page-container {
  flex: 1;
  padding-bottom: 0px; 
}

.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 0;
}

.hidden-list-decorations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hidden-list-decorations {
  list-style: none;
  margin-left: 0;
}

@media screen and (orientation: landscape) {
  .site-content {
    min-height: 100vw;
  }
}

@media (max-width: 1024px) {
  .footer
  {
    padding-bottom: 71px;
  }
}