
<!doctype html>
<html lang="en">
<body>
  <div class="site-content">
  <header>
    <!--<app-hero></app-hero>-->
  </header>
  <app-navbar></app-navbar>
  <div class="page-container">
    <div class="p-2">
      <router-outlet routerLink="/login"></router-outlet>
      <ng-toast></ng-toast>
    </div>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <span class="icon">
          <i class="fas fa-brands fa-github"></i>
        </span>
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject/tree/master">MyFirstLoginProject</a>
        <strong> by Luka Živković</strong>
      </p>
        <div class="hidden-list-decorations-container">
          <ul class="hidden-list-decorations">
            <li>
              <h3>Links</h3>
            </li>
            <li>
              <a class="" routerLink="/home"><strong>Dom</strong></a>
            </li>
            <li>
              <a class="" routerLink="/login"><strong>Prijava</strong></a>
            </li>
            <li>
              <a class="" routerLink="/signup"><strong>Registracija</strong></a>
            </li>
            <li>
              <a class="" routerLink="/dashboard"><strong>Opravila</strong></a>
            </li>
          </ul>
        </div>
  </div>
  </footer>
</div>
</body>
</html>
