<section *ngIf="getRoute()==='/dashboard'" class="hero is-link">
    <div class="hero-body">
      <p class="title">
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject/tree/master">
          <span class="icons">
            <i class="fas fa-brands fa-github"></i>
          </span>
        </a>
        <a routerLink="/home">
        MyFirstLogiInProject
        </a>
      </p>
      <p class="subtitle">
        Opravila
      </p>
    </div>
  </section>

  <section *ngIf="getRoute()==='/home'" class="hero is-danger">
    <div class="hero-body">
      <p class="title">
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject/tree/master">
          <span class="icons">
            <i class="fas fa-brands fa-github"></i>
          </span>
        </a>
        <a routerLink="/home">
        MyFirstLogiInProject
        </a>
      </p>
      <p class="subtitle">
        Dom
      </p>
    </div>
  </section>

  <section *ngIf="getRoute()==='/login'" class="hero is-info">
    <div class="hero-body">
      <p class="title">
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject/tree/master">
          <span class="icons">
            <i class="fas fa-brands fa-github"></i>
          </span>
        </a>
        <a routerLink="/home">
        MyFirstLogiInProject
        </a>
      </p>
      <p class="subtitle">
        Prijava
      </p>
    </div>
  </section>

  <section *ngIf="getRoute()==='/signup'" class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        <a href="https://github.com/lukazivkovic10/MyFirstLogiInProject/tree/master">
          <span class="icons">
            <i class="fas fa-brands fa-github"></i>
          </span>
        </a>
        <a routerLink="/home">
        MyFirstLogiInProject
        </a>
      </p>
      <p class="subtitle">
        Registracija
      </p>
    </div>
  </section>