<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title">
                <div class="icon is-large">
                    <i class="far fa-calendar-plus"></i>
                </div>
                Ustvari Opravilo
            </div>
            <button (click)="modelCloseCreate()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="container is-fluid">
                <div class="box" style="color: hsl(348, 100%, 61%);" *ngFor="let error of errors">
                    <strong>{{error.errorCode}}</strong>
                    <h5>{{error.codeName}}</h5>
                    <small>{{error.codeDesc}}</small>
                </div>
                <div class="form" [formGroup]="createForm">
                    <div class="box">
                        <h5 class="title is-5">Glava opravila</h5>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <div class="select">
                                            <select formControlName="Tag" placeholder="Izberi zaznamko">
                                                <option value="" disabled selected>Izberi oznako</option>
                                                <option *ngFor="let tag of tags.data">{{tag.tagName}}</option>
                                            </select>
                                            <span class="icon is-left">
                                                <i class="fas fa-tag"></i>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input"formControlName="ItemName" type="text" placeholder="Ime opravila">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-signature"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control is-expended">
                                <textarea class="textarea has-fixed-size" formControlName="ItemDesc" type="text" placeholder="Opis opravila"></textarea>
                            </p>
                        </div>  
                        <div class="field">
                            <input type="file" (change)="onFileSelected($event)" multiple>
                            <ul class="list">
                                <li *ngFor="let file of selectedFiles">
                                    <small>
                                        <span class="icon is-left">
                                            <i [class]="getFileIconClass(file.type)"></i>
                                        </span>
                                        <span>
                                            {{ file.name }} |   
                                        </span>
                                        <span class="icon is-left">
                                            <i class="fa-solid fa-floppy-disk"></i>
                                        </span>
                                        <span>
                                            {{formatFileSize(file.size)}}
                                        </span>
                                    </small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <h5 class="title is-5">Podrobnosti opravila</h5>
                        <div class="columns">
                            <div class="column">
                                <p>Že opravljeno?</p>
                                <div class="field">
                                    <div class="options-container py-1">
                                        <div class="options">
                                            <input type="radio" value="0" id="radio-1" name="Active" checked="" formControlName="Active">
                                            <label class="Active" for="radio-1"><i class="fas fa-check"></i></label>
                                            <input type="radio" value="1" id="radio-2" name="Active" formControlName="Active">
                                            <label class="Active" for="radio-2"><i class="fas fa-x"></i></label>
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div class="column">
                                <p>Dokončati do</p>
                                <div class="field">
                                    <input class="input" type="datetime-local" formControlName="CompleteDate">
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="columns">
                           <div class="column">
                            <h5 class="title is-5">Ponavljajoča opravila</h5>
                           </div> 
                           <div class="column is-2">
                            <label class="switch">
                                <input #switchElement type="checkbox" class="switch" (change)="toggleContent()">
                                <span class="slider round"></span>
                            </label>
                           </div> 
                        </div>
                       <div class="switch-content" *ngIf="isSwitchChecked">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                              Izbira
                            </a>
                    
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                  <input type="radio" id="dnevno" name="repeatingOption" (change)="onRadioChange('daily')" [checked]="!showDaily">
                                  <span class="pl-2">
                                    Dnevno ponavljajoča
                                  </span>
                                </a>
                                <a class="navbar-item">
                                    <input type="radio" id="weekly" name="repeatingOption" (change)="onRadioChange('weekly')" [checked]="!showWeekly">
                                    <span class="pl-2">
                                      Tedensko ponavljajoča
                                    </span>
                                  </a>
                                <a class="navbar-item">
                                  <input type="radio" id="monthly" name="repeatingOption" (change)="onRadioChange('monthly')" [checked]="!showMonthly">
                                  <span class="pl-2">
                                    Mesečno ponavljajoča
                                  </span>
                                </a>
                                <a class="navbar-item">
                                  <input type="radio" id="yearly" name="repeatingOption" (change)="onRadioChange('yearly')" [checked]="!showYearly">
                                  <span class="pl-2">
                                    Letno ponavljajoča
                                  </span>
                                </a>
                                <a class="navbar-item">
                                  <input type="radio" id="custom" name="repeatingOption" (change)="onRadioChange('custom')" [checked]="!showCustom">
                                  <span class="pl-2">
                                    Po izbiri ponavljajoča
                                  </span>
                                </a>
                              </div>
                          </div>
                        <!--Dnevno-->
                        <div class="box" *ngIf="!showDaily">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Dnevno ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <input type="radio" value='Dnevno' formControlName="ItemRepeating">
                                </div>
                            </div>
                        </div>
                        <!--Tedensko-->
                        <div class="box" *ngIf="!showWeekly">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Tedensko ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <input type="radio" value='Tedensko' formControlName="ItemRepeating">
                                </div>
                            </div>
                            <div class="grid">
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Ponedeljek</p>
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(1)" [checked]="isDaySelected(1)">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Torek</p>
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(2)" [checked]="isDaySelected(2)">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Sreda</p> 
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(3)" [checked]="isDaySelected(3)">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Četrtek</p>
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(4)" [checked]="isDaySelected(4)">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Petek</p>
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(5)" [checked]="isDaySelected(5)">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Sobota</p>
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(6)" [checked]="isDaySelected(6)">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="box day">
                                        <div class="center">
                                            <p>Nedelja</p>
                                            <input type="checkbox" class="weekly-check" (change)="toggleDay(7)" [checked]="isDaySelected(7)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Mesečno-->
                        <div class="box" *ngIf="!showMonthly">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Mesecno ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <input type="radio" value='Mesecno' formControlName="ItemRepeating">
                                </div> 
                            </div>
                        </div>
                        <!--Letno-->
                        <div class="box" *ngIf="!showYearly">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Letno ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <input type="radio" value='Letno' formControlName="ItemRepeating">
                                </div> 
                            </div>
                        </div>
                        <!--Custom-->
                        <div class="box" *ngIf="!showCustom">
                            <h6 class="title is-6">Po izbiri ponavljajoča</h6>
                            <input type="date" class="input" formControlName="ReapeatCustom">
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot" >
            <button (click)="onCreate()" class="button is-success">Ustvari</button>
        </footer>
    </div>
</div>