<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title">
                <div class="icon is-large">
                    <i class="far fa-calendar-plus"></i>
                </div>
                Ustvari Opravilo
            </div>
            <button (click)="modelCloseCreate()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="container is-fluid">
                <div class="box" style="color: hsl(348, 100%, 61%);" *ngFor="let error of errors">
                    <strong>{{error.errorCode}}</strong>
                    <h5>{{error.codeName}}</h5>
                    <small>{{error.codeDesc}}</small>
                </div>
                <div class="form" [formGroup]="createForm">
                    <div class="box">
                        <h3 class="tittle is-3">Glava opravila</h3>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <div class="select">
                                            <select formControlName="Tag" placeholder="Izberi zaznamko">
                                                <option value="" disabled selected>Izberi oznako</option>
                                                <option *ngFor="let tag of tags.data">{{tag.tagName}}</option>
                                            </select>
                                            <span class="icon is-left">
                                                <i class="fas fa-tag"></i>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input"formControlName="ItemName" type="text" placeholder="Ime opravila">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-signature"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control is-expended">
                                <textarea class="textarea has-fixed-size" formControlName="ItemDesc" type="text" placeholder="Opis opravila"></textarea>
                            </p>
                        </div>  
                    </div>
                    <div class="box">
                        <h3 class="tittle is-3">Podrobnosti opravila</h3>
                        <div class="columns">
                            <div class="column">
                                <p>Že opravljeno?</p>
                                <div class="field">
                                    <div class="options-container py-1">
                                        <div class="options">
                                            <input type="radio" value="0" id="radio-1" name="Active" checked="" formControlName="Active">
                                            <label class="Active" for="radio-1"><i class="fas fa-check"></i></label>
                                            <input type="radio" value="1" id="radio-2" name="Active" formControlName="Active">
                                            <label class="Active" for="radio-2"><i class="fas fa-x"></i></label>
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div class="column">
                                <p>Dokončati do</p>
                                <div class="field">
                                    <input class="input" type="datetime-local" formControlName="CompleteDate">
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button (click)="onCreate()" [disabled]="!this.createForm.valid" class="button is-success">Ustvari</button>
        </footer>
    </div>
</div>