<div class="modal is-active">
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-title">
                <div class="icon is-large">
                    <i class="far fa-calendar-plus"></i>
                </div>
                Ustvari Opravilo
            </div>
            <button (click)="modelCloseCreate()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="container is-fluid">
                <div class="box" style="color: hsl(348, 100%, 61%);" *ngFor="let error of errors">
                    <strong>{{error.errorCode}}</strong>
                    <h5>{{error.codeName}}</h5>
                    <small>{{error.codeDesc}}</small>
                </div>
                <div class="form" [formGroup]="createForm">
                    <div class="box">
                        <h5 class="title is-5">Glava opravila</h5>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <div class="select">
                                            <select formControlName="Tag" placeholder="Izberi zaznamko">
                                                <option value="" disabled selected>Izberi oznako</option>
                                                <option *ngFor="let tag of tags.data">{{tag.tagName}}</option>
                                            </select>
                                            <span class="icon is-left">
                                                <i class="fas fa-tag"></i>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input"formControlName="ItemName" type="text" placeholder="Ime opravila">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-signature"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control is-expended">
                                <textarea class="textarea has-fixed-size" formControlName="ItemDesc" type="text" placeholder="Opis opravila"></textarea>
                            </p>
                        </div>  
                        <div class="field">
                            <input type="file" (change)="onFileSelected($event)" multiple>
                            <ul class="list">
                                <li *ngFor="let file of selectedFiles">
                                    <small>
                                        <span class="icon is-left">
                                            <i [class]="getFileIconClass(file.type)"></i>
                                        </span>
                                        <span>
                                            {{ file.name }} |   
                                        </span>
                                        <span class="icon is-left">
                                            <i class="fa-solid fa-floppy-disk"></i>
                                        </span>
                                        <span>
                                            {{formatFileSize(file.size)}}
                                        </span>
                                    </small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <h5 class="title is-5">Podrobnosti opravila</h5>
                        <div class="columns">
                            <div class="column">
                                <p>Že opravljeno?</p>
                                <div class="field">
                                    <div class="tooltip" data-tooltip="Prednastavljena je na ne"></div>
                                    <div class="columns">
                                        <div class="column center">
                                            <input type="radio" value="0" id="radio-1" name="Active" checked="" formControlName="Active">
                                            <label for="radio-1">
                                                <span>Da</span>
                                                <div class="icon">
                                                    <i class="fas fa-check"></i>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="column center">
                                            <input type="radio" value="1" id="radio-2" name="Active" formControlName="Active">
                                            <label for="radio-2">
                                                <span>Ne</span>
                                                <div class="icon">
                                                    <i class="fas fa-x"></i>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <p>Dokončati do</p>
                                <div class="field">
                                    <input class="input" type="datetime-local" formControlName="CompleteDate">
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="columns">
                           <div class="column">
                            <h5 class="title is-5">Ponavljajoča opravila</h5>
                           </div> 
                           <div class="column is-2">
                            <label class="switch">
                                <input #switchElement type="checkbox" class="switch" (change)="toggleContent()">
                                <span class="slider round"></span>
                            </label>
                           </div> 
                        </div>
                       <div class="switch-content" *ngIf="isSwitchChecked">
                        <div class="nav-select">
                                <div>
                                    <label>
                                        <input type="radio" id="dnevno" name="repeatingOption" (change)="onRadioChange('daily')" [checked]="!showDaily">
                                        <span>Dnevno</span>
                                    </label>
                                    <label>
                                        <input type="radio" id="weekly" name="repeatingOption" (change)="onRadioChange('weekly')" [checked]="!showWeekly">
                                        <span>Tedensko</span>
                                    </label>
                                    <label>
                                        <input type="radio" id="monthly" name="repeatingOption" (change)="onRadioChange('monthly')" [checked]="!showMonthly">
                                        <span>Mesečno</span>
                                    </label>
                                    <label>
                                        <input type="radio" id="yearly" name="repeatingOption" (change)="onRadioChange('yearly')" [checked]="!showYearly">
                                        <span>Letno</span>
                                    </label>
                                    <label>
                                        <input type="radio" id="custom" name="repeatingOption" (change)="onRadioChange('custom')" [checked]="!showCustom">
                                        <span>Po izbiri</span>
                                    </label>
                                    
                                </div>
                        </div>
                        <!--Dnevno-->
                        <div class="box" *ngIf="!showDaily">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Dnevno ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <label class="switch">
                                        <input #switchElement type="radio" value='Dnevno' class="switch" formControlName="ItemRepeating">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Tedensko-->
                        <div class="box" *ngIf="!showWeekly">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Tedensko ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <label class="switch">
                                        <input #switchElement class="switch" type="radio" value='Tedensko' formControlName="ItemRepeating" formControlName="ItemRepeating" (change)="onRadioChange('showWeekly')" [checked]="!showYearly">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <fieldset class="checkbox-group" *ngIf="!showWeeklyFieldset">
                                <legend class="checkbox-group-legend">Izberi dni tedna</legend>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(1)" [checked]="isDaySelected(1)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-briefcase"></i>
                                        </span>
                                        <span class="checkbox-label">Ponedeljek</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(2)" [checked]="isDaySelected(2)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-briefcase"></i>
                                        </span>
                                        <span class="checkbox-label">Torek</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(3)" [checked]="isDaySelected(3)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-briefcase"></i>
                                        </span>
                                        <span class="checkbox-label">Sreda</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(4)" [checked]="isDaySelected(4)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-briefcase"></i>
                                        </span>
                                        <span class="checkbox-label">Četrtek</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(5)" [checked]="isDaySelected(5)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-briefcase"></i>
                                        </span>
                                        <span class="checkbox-label">Petek</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(6)" [checked]="isDaySelected(6)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-umbrella-beach"></i>
                                        </span>
                                        <span class="checkbox-label">Sobota</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-wrapper">
                                        <input type="checkbox" class="checkbox-input" (change)="toggleDay(7)" [checked]="isDaySelected(7)">
                                        <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                            <i class="fa-solid fa-umbrella-beach"></i>
                                        </span>
                                        <span class="checkbox-label">Nedelja</span>
                                        </span>
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <!--Mesečno-->
                        <div class="box" *ngIf="!showMonthly">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Mesecno ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <label class="switch">
                                        <input #switchElement class="switch" type="radio" value='Mesecno' formControlName="ItemRepeating">
                                        <span class="slider"></span>
                                    </label>
                                </div> 
                            </div>
                        </div>
                        <!--Letno-->
                        <div class="box" *ngIf="!showYearly">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Letno ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <label class="switch">
                                        <input #switchElement class="switch" type="radio" value='Letno' formControlName="ItemRepeating">
                                        <span class="slider"></span>
                                    </label>
                                </div> 
                            </div>
                        </div>
                        <!--Custom-->
                        <div class="box" *ngIf="!showCustom">
                            <div class="columns">
                                <div class="column">
                                    <h6 class="title is-6">Po izbiri ponavljajoča</h6>
                                </div>
                                <div class="column">
                                    <label class="switch">
                                        <input #switchElement class="switch" type="radio" value='Custom' formControlName="ItemRepeating">
                                        <span class="slider"></span>
                                    </label>
                                    <input type="date" class="input" formControlName="ReapeatCustom">
                                </div> 
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot" >
            <button (click)="onCreate()" class="button is-success">Ustvari</button>
        </footer>
    </div>
</div>