<!--Iskalnik-->
<div class="box">
    <div class="navbar">
        <form [formGroup]="searchForm">
            <div class="field has-addons">
                <div class="control has-icons-left">
                    <input class="input"formControlName="search" type="text" placeholder="Ime to-do seznama">
                    <div class="icons">
                        <span class="icon is-medium is-right">
                            <i class="fas fa-magnifying-glass"></i>
                        </span>
                    </div>
                </div>
                <p class="control">
                    <button (click)="onSearch()" class="button is-rounded is-info">
                        Išči
                    </button>
                </p>
            </div>
        </form>
        <div class="navbar-end">
            <app-list-display></app-list-display>
        </div>
    </div>
</div>
<!--Prikaz-->
<div class="content">
    <div class="box">
        <p class="control has-icons">
            <button (click)="showAll()" class="button is-warning">
                <div class="icons">
                    <span class="icon is-medium is-right">
                        <i class="fas fa-bars"></i>
                    </span>
                    <small>Prikaz vseh</small>
                </div>
            </button>
        </p>
            <div class="card" *ngFor="let Item of items">
                <div class="card-content">
                    <div class="content" *ngIf="Item.itemStatus=='1'">
                            <span class="tag is-rounded is-link is-small">{{Item.tag}}</span>
                            <h3 class="title is-link">{{Item.itemName}}</h3>
                            <h5 class="subtitle is-4">{{Item.itemDesc}}</h5>
                    </div>
                    <div class="content" *ngIf="Item.itemStatus=='0'">
                        <span class="tag is-rounded is-dark is-small">{{Item.tag}}</span><br>
                        <s class="title is-link ">{{Item.itemName}}</s><br>
                        <s class="subtitle is-4 ">{{Item.itemDesc}}</s>
                    </div>
                </div>
            </div>
    </div>
</div>