<div id="grid">
    <div class="tooltip" data-tooltip="Število vseh opravil">
      <div class="box" id="grid-box">
        <h6 class="subtitle is-6">Vsa</h6>
        <h1 class="title is-1"><b>{{tasks.data.Vse}}</b></h1>
        <div class="icon is-large" id="grid-icon">
          <i class="fa-solid fa-list-check fas fa-10x"></i>
        </div>
      </div>
    </div>
    <div class="tooltip" data-tooltip="Število vseh dokončanih opravil">
      <div class="box" id="grid-box">
        <h6 class="subtitle is-6">Dokončana</h6>
        <h1 class="title is-1"><b>{{tasks.data.Dokoncano}}</b></h1>
        <div class="icon is-large" id="grid-icon">
          <i class="fa-solid fa-check fas fa-10x"></i>
        </div>
      </div>
    </div>
    <div class="tooltip" data-tooltip="Število vseh ne dokončanih opravil">
      <div class="box" id="grid-box">
        <h6 class="subtitle is-6">Ne dokončana</h6>
        <h1 class="title is-1"><b>{{tasks.data.Nedokoncano}}</b></h1>
        <div class="icon is-large" id="grid-icon">
          <i class="fa-solid fa-hourglass-half fas fa-10x"></i>
        </div>
      </div>
    </div>
    <div class="tooltip" data-tooltip="Število vseh preteklih opravil">
      <div class="box" id="grid-box">
        <h6 class="subtitle is-6">Pretekla</h6>
        <h1 class="title is-1"><b>{{tasks.data.Preteklo}}</b></h1>
        <div class="icon is-large" id="grid-icon">
          <i class="fa-solid fa-x fas fa-10x"></i>
        </div>
      </div>
</div>
